@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistem Informasi Perpustakaan</h1>
    <p class="lead">Selamat Datang di Sistem Informasi Perpustakaan.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
